.dockerignore
.DS_Store
.env
.env*.local
.eslintrc.json
.git
.next
.pnpm-debug.log*
.prettierignore
.prettierrc.json
.vercel
*.pem
*.tsbuildinfo
/logs/
/node_modules
/public/sw.js
/public/workbox-*.js
/temp/
desktop.ini
Dockerfile
fly.toml
next-env.d.ts
npm-debug.log*
Thumbs.db
yarn-debug.log*
yarn-error.log*